<!DOCTYPE html>
<html>
  <head>
    <title>Face Detection</title>
    <!-- <link rel="stylesheet" type="text/css" href="../assets_compiled/bundled/style.css"> -->
    <link href="{{ url_for('assets_blueprint.static', filename='styles/homepage.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h1>Face Detection</h1>

    <!-- Form for the user to upload an image -->
    <form id="upload-form">
      <input type="file" id="image" name="image" accept="image/*">
      <button type="submit">Detect Faces</button>
    </form>

    <!-- Section to display the results -->
    <div id="results"></div>

    <script>
      document.getElementById('upload-form').addEventListener('submit', function(event) {
        event.preventDefault();

        var formData = new FormData();
        formData.append('image', document.getElementById('image').files[0]);

        fetch("/detect_faces", {
          method: "POST",
          body: formData,
        })
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then((data) => {
          console.log(data);
          // Display the results in the 'results' div
          document.getElementById('results').textContent = JSON.stringify(data);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
      });
    </script>
  </body>
</html>